<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040824737850-ah34kk26467dku2q2ocdp1mb7qtp6lru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040824737850-ah34kk26467dku2q2ocdp1mb7qtp6lru</string>
	<key>API_KEY</key>
	<string>AIzaSyCOgMezOHdHSy-5EtuUHWOWy5TxdrgNnSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1040824737850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>nevinschatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nevinschatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040824737850:ios:e9126a523dd67e91b39503</string>
</dict>
</plist>